@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Stateless.WorkflowEngine.WebConsole.ViewModels.Connection.ConnectionListViewModel>
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@using Stateless.WorkflowEngine.WebConsole.BLL.Utils
@using Stateless.WorkflowEngine.WebConsole.BLL.Security
@using Nancy.Security
@{
    IUserIdentity currentUser = ViewBag.CurrentUser;
}
@functions {
    public string FormatConnectionNumber(long? no) {
        if (!no.HasValue)
        {
            return "n/a";
        }
        return String.Format("{0:n0}", no);
    }

    public string GetConnectionErrorClass(WorkflowStoreModel model) {
        return (String.IsNullOrEmpty(model.ConnectionError) ? String.Empty : " error");
    }

    public string GetConnectionStyle(long? no, long warningThreshold, long errorThreshold) {
        if (!no.HasValue || no.Value > errorThreshold) return "progress-bar-danger";
        if (no.Value > warningThreshold) return "progress-bar-warning";
        return "progress-bar-success";
    }

    public string GetConnectionTitle(WorkflowStoreModel model)
    {
        return String.Format("{0} / {2}", model.ConnectionModel.Host, model.ConnectionModel.Port, model.ConnectionModel.Database);
    }

    public string GetConnectionTitleTooltip(WorkflowStoreModel model)
    {
        if (String.IsNullOrEmpty(model.ConnectionError)) {
            string user = (String.IsNullOrEmpty(model.ConnectionModel.User) ? String.Empty : "(" + model.ConnectionModel.User + ")");
            return String.Format("{0}:{1} / {2} (3)", model.ConnectionModel.Host, model.ConnectionModel.Port, model.ConnectionModel.Database, user);
        }
        return model.ConnectionError;
    }
}
@if (Model.WorkflowStores.Count == 0) 
{
    <h4>You have no saved connections.  Add new connections by clicking the button on the top right of this panel.</h4>
}
@foreach (var workflowStore in Model.WorkflowStores)
{
    <div class="panel panel-default pull-left dashboard-panel font90">
        <div class="panel-heading@(GetConnectionErrorClass(workflowStore))" title="@GetConnectionTitleTooltip(workflowStore)">
            <img src="/Content/Images/mongo_24x24.png" alt="" title="" />
            <div class="conn-title dropdown">
              <a class="dropdown-toggle" id="mnu@(workflowStore.ConnectionModel.Id)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @GetConnectionTitle(workflowStore)
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu conn-menu" aria-labelledby="mnu@(workflowStore.ConnectionModel.Id)">
                @if (DisplayUtils.HasClaim(currentUser, Claims.ConnectionDelete))
                {
                    <li><a href="#" class="btn-delete" data-model-id="@(workflowStore.ConnectionModel.Id)" data-model-db="@(workflowStore.ConnectionModel.Database)"><i class="fa fa-trash-o"></i> Delete</a></li>
                }
                <li><a href="@(Actions.Store.Default)?id=@(workflowStore.ConnectionModel.Id)"><i class="fa fa-table"></i> View incomplete workflows</a></li>
              </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="progress" data-toggle="tooltip" data-placement="top" title="Collection: Workflows">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.ActiveCount, 100, 10000)) progress-bar-striped" style="width: 100%"><span>Active: @(FormatConnectionNumber(workflowStore.ActiveCount))</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Oldest: 2 years">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.SuspendedCount, 0, 0)) progress-bar-striped" style="width: 100%"><span>Suspended: @(FormatConnectionNumber(workflowStore.SuspendedCount))</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Collection: CompletedWorkflows">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.CompletedCount, Int32.MaxValue, Int32.MaxValue)) progress-bar-striped" style="width: 100%"><span>Complete: @(FormatConnectionNumber(workflowStore.CompletedCount))</span></div>
            </div>
        </div>
    </div>
}
