@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Stateless.WorkflowEngine.WebConsole.ViewModels.Store.WorkflowListViewModel>
@using Stateless.WorkflowEngine;
@using Stateless.WorkflowEngine.WebConsole.Navigation
@if (Model.Workflows.Count > 0)
{
    <table class="table table-striped table-hover table-bordered font90">
        <thead>
            <tr>
                <th><input id="chk-workflow-all" type="checkbox" /></th>
                <th>Id</th>
                <th>Type</th>
                <th>Resumes</th>
                <th>Suspended</th>
                <th>State</th>
                <th>Retry Count</th>
                <th>Retry Intervals</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wf in Model.Workflows)
            {
                <tr @if (wf.IsSuspended) {  <text>class="danger"</text> }>
                    <td><input type="checkbox" value="@wf.Id" class="chk-workflow" /></td>
                    <td><a href="#" data-id="@wf.Id" data-type="@wf.WorkflowClassName" class="workflow-id">@wf.Id</a></td>
                    <td><span title="@wf.WorkflowTypeName">@wf.WorkflowClassName</span></td>
                    <td>@wf.ResumeOn.ToLocalTime()</td>
                    <td>@(wf.IsSuspended ? "Yes" : "No")</td>
                    <td>@wf.CurrentState</td>
                    <td>@wf.RetryCount</td>
                    <td>@(String.Join(",", wf.RetryIntervals))</td>
                    <td>@wf.CreatedOn.ToLocalTime()</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button id="btn-suspend" class="btn btn-warning">Suspend Workflows</button>
        <button id="btn-unsuspend" class="btn btn-primary">Unsuspend Workflows</button>
        <button id="btn-delete" class="btn btn-danger">Delete Workflows</button>
    </div>
}
else
{
    <h4>There are no workflows to display.</h4>
}
