@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Stateless.WorkflowEngine.WebConsole.ViewModels.Dashboard.DashboardConnectionViewModel>
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@functions {
    public string FormatConnectionNumber(int? no) {
        return (no.HasValue ? no.Value.ToString() : "n/a");
    }

    public string GetConnectionErrorClass(WorkflowStoreModel model) {
        return (String.IsNullOrEmpty(model.ConnectionError) ? String.Empty : " error");
    }
    
    public string GetConnectionStyle(int? no, int warningThreshold, int errorThreshold) {
        if (!no.HasValue || no.Value > errorThreshold) return "progress-bar-danger";
        if (no.Value > warningThreshold) return "progress-bar-warning";
        return "progress-bar-success";
    }

    public string GetConnectionTitle(WorkflowStoreModel model)
    {
        return String.Format("{0}:{1} / {2}", model.Server, model.Port, model.Database);
    }

    public string GetConnectionTitleTooltip(WorkflowStoreModel model)
    {
        if (String.IsNullOrEmpty(model.ConnectionError)) {
            return GetConnectionTitle(model);
        }
        return model.ConnectionError;
    }
}
@if (Model.WorkflowStores.Count == 0) 
{
    <h4>You have no saved connections.  Add new connections by clicking the button on the top right of this panel.</h4>
}
@foreach (var workflowStore in Model.WorkflowStores)
{
    <div class="panel panel-default pull-left dashboard-panel">
        <div class="panel-heading@(GetConnectionErrorClass(workflowStore))" data-toggle="tooltip" data-placement="top" title="@GetConnectionTitleTooltip(workflowStore)">
            <i class="fa fa-database"></i>
            @GetConnectionTitle(workflowStore)
        </div>
        <div class="panel-body">
            <div class="progress" data-toggle="tooltip" data-placement="top" title="Collection: Workflows">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.ActiveCount, 100, 10000)) progress-bar-striped" style="width: 100%"><span>Active: @(FormatConnectionNumber(workflowStore.ActiveCount))</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Oldest: 2 years">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.SuspendedCount, 0, 0)) progress-bar-striped" style="width: 100%"><span>Suspended: @(FormatConnectionNumber(workflowStore.SuspendedCount))</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Collection: CompletedWorkflows">
                <div class="progress-bar @(GetConnectionStyle(workflowStore.CompletedCount, Int32.MaxValue, Int32.MaxValue)) progress-bar-striped" style="width: 100%"><span>Complete: @(FormatConnectionNumber(workflowStore.CompletedCount))</span></div>
            </div>
        </div>
    </div>
}
